// Place all the styles related to the admin/Bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content > div {
  margin: 5px;
  font-size: 30px;
}