<table class="table">
  <thead>
    <tr>
      <td>メーカー</td>
    </tr>
  </thead>
  <tbody>
    <% @manufacturers.each do |manufacturer| %>
      <tr>
        <td><%= link_to manufacturer.manufacturer_name,customer_bikes_path %></td>

      </tr>
    <% end %>
  </tbody>
</table>