<div class="content">
  <div>
    <h1><i class="fa fa-motorcycle"></i>バイク一覧</h1>
  </div>
</div>

<div class="search">
  <div>
    <%= render "customer/bikes/search", manufacturers: @manufacturers %>
    <% if controller.action_name == "search" %>
      <div class="title-box">
        <h1 class="title"><%= @manufacturer.manufacturer_name %>のバイク一覧(全 <%= @bikes.count %> 件)</h1>
      </div>
    <% end %>
  </div>
</div>

<div class="col-xs-6 col-xs-offset-3">
  <%= render "customer/bikes/bike", bikes: @bikes %>
</div>
